<a href="https://colab.research.google.com/github/ValentinaGiraldo0/Code_in_class/blob/main/01_Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction**

We are going to start **promming**

# **1. What is Python?**

It was 1991 and can do anything

#  **2. Why Python?**
It is free.
It is open source. 
It is easy to learn.

# **3. Getting Started**

## 3.1 Python as a calculator

In [ ]:
# Addition
2+2

4

In [ ]:
# Subtration
2-2

0

In [ ]:
# Multiplication
7*14

98

In [ ]:
# Exponental
5**3

125

In [ ]:
# Division
10/3

3.3333333333333335

In [ ]:
# Interger Division
10//3

3

## 3.2. Composite Operations 

*Operator precedence*
2*3+7

First is multiplication ir divisio, then addicion or sustration
* or /, then + or -

In [ ]:
# Example
30-5*4/2+7

27.0

Parentheses `( )` allows to modify operator precedence.
*texto en cursiva*

In [ ]:
## Example 
(30-5)*4/2+7

57.0

## 3.3. Integrer and Real Numbers
| Math | Code |
|------|------|
| Integers | Integers (int) |
| Real     | Floar point (float) |

The *funtion* `type()` let's us check

In [ ]:
type(26.5)

float

### Scientific notation
The "form" = `zz10^y` It is wriyte as xey

In [1]:
# Example 
1.52e2

152.0

What happen is you to represenre `0.25`whith scientific notation?

In [2]:
# Answer
0.025e1
2.5e-1 #R
25e-2

0.25

In [4]:
# Example
1.5e5

150000.0

### Transformation

In [5]:
# Example int to float
float(5)

5.0

In [6]:
# Example flot to int
int(7.25)

7

## 3.4. Basic functions

### **Print**

In [9]:
# Number Example
print(2022,8,11)

2022 8 11

In [12]:
# Spring (alphabet) example
print('Valentina')

Valentina

In [15]:
# More complicated string examples
print('First Name: Valentina','Last Name: Giraldo')
print('First Name: Valentina\tLast Name: Giraldo')
print('First Name: Valentina\nLast Name: Giraldo')

First Name: Valentina Last Name: Giraldo
First Name: Valentina	Last Name: Giraldo
First Name: Valentina
Last Name: Giraldo

In [16]:
# More complicated string examples
print('First Name:','Valentina','Last Name:','Giraldo')

First Name: Valentina Last Name: Giraldo

In [17]:
# More complicated number example
for i in range (0,10): print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
# Combine string and numbers
print('My favorit number is', 21, 'because aja')

My favorit number is 21 because aja

### **Round**

In [21]:
# A simple example
round(1.253,2)

1.25

In [51]:
# Time to practice 
# Consider the number 7.2354
# Print every result for rounding from 3 to 0 positions
print('Round with',0, 'decimals', round(7.2354,0))
print('Round with',1, 'decimals', round(7.2354,1))
print('Round with',2, 'decimals', round(7.2354,2))
print('Round with',3, 'decimals', round(7.2354,3))

Round with 0 decimals 7.0
Round with 1 decimals 7.2
Round with 2 decimals 7.24
Round with 3 decimals 7.235

In [55]:
# If we for loops
for i in range(0,4): print('Round with',i, 'decimals', round(7.2354,i))

Round with 0 decimals 7.0
Round with 1 decimals 7.2
Round with 2 decimals 7.24
Round with 3 decimals 7.235

In [72]:
# Practice
# Print the 100 multiples of number 2
for i in range(0,101): print('Multiples the number 2:',round(i*2))

Multiples the number 2: 0
Multiples the number 2: 2
Multiples the number 2: 4
Multiples the number 2: 6
Multiples the number 2: 8
Multiples the number 2: 10
Multiples the number 2: 12
Multiples the number 2: 14
Multiples the number 2: 16
Multiples the number 2: 18
Multiples the number 2: 20
Multiples the number 2: 22
Multiples the number 2: 24
Multiples the number 2: 26
Multiples the number 2: 28
Multiples the number 2: 30
Multiples the number 2: 32
Multiples the number 2: 34
Multiples the number 2: 36
Multiples the number 2: 38
Multiples the number 2: 40
Multiples the number 2: 42
Multiples the number 2: 44
Multiples the number 2: 46
Multiples the number 2: 48
Multiples the number 2: 50
Multiples the number 2: 52
Multiples the number 2: 54
Multiples the number 2: 56
Multiples the number 2: 58
Multiples the number 2: 60
Multiples the number 2: 62
Multiples the number 2: 64
Multiples the number 2: 66
Multiples the number 2: 68
Multiples the number 2: 70
Multiples the number 2: 72
Multiples the number 2: 74
Multiples the number 2: 76
Multiples the number 2: 78
Multiples the number 2: 80
Multiples the number 2: 82
Multiples the number 2: 84
Multiples the number 2: 86
Multiples the number 2: 88
Multiples the number 2: 90
Multiples the number 2: 92
Multiples the number 2: 94
Multiples the number 2: 96
Multiples the number 2: 98
Multiples the number 2: 100
Multiples the number 2: 102
Multiples the number 2: 104
Multiples the number 2: 106
Multiples the number 2: 108
Multiples the number 2: 110
Multiples the number 2: 112
Multiples the number 2: 114
Multiples the number 2: 116
Multiples the number 2: 118
Multiples the number 2: 120
Multiples the number 2: 122
Multiples the number 2: 124
Multiples the number 2: 126
Multiples the number 2: 128
Multiples the number 2: 130
Multiples the number 2: 132
Multiples the number 2: 134
Multiples the number 2: 136
Multiples the number 2: 138
Multiples the number 2: 140
Multiples the number 2: 142
Multiples the number 2: 144
Multiples the number 2: 146
Multiples the number 2: 148
Multiples the number 2: 150
Multiples the number 2: 152
Multiples the number 2: 154
Multiples the number 2: 156
Multiples the number 2: 158
Multiples the number 2: 160
Multiples the number 2: 162
Multiples the number 2: 164
Multiples the number 2: 166
Multiples the number 2: 168
Multiples the number 2: 170
Multiples the number 2: 172
Multiples the number 2: 174
Multiples the number 2: 176
Multiples the number 2: 178
Multiples the number 2: 180
Multiples the number 2: 182
Multiples the number 2: 184
Multiples the number 2: 186
Multiples the number 2: 188
Multiples the number 2: 190
Multiples the number 2: 192
Multiples the number 2: 194
Multiples the number 2: 196
Multiples the number 2: 198
Multiples the number 2: 200