<a href="https://colab.research.google.com/github/ValentinaGiraldo0/Code_in_class/blob/main/01_Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction**

We are going to start **promming**

# **1. What is Python?**

It was 1991 and can do anything

#  **2. Why Python?**
It is free.
It is open source. 
It is easy to learn.

# **3. Getting Started**

## 3.1 Python as a calculator

In [ ]:
# Addition
2+2

4

In [ ]:
# Subtration
2-2

0

In [ ]:
# Multiplication
7*14

98

In [ ]:
# Exponental
5**3

125

In [ ]:
# Division
10/3

3.3333333333333335

In [ ]:
# Interger Division
10//3

3

## 3.2. Composite Operations 

*Operator precedence*
2*3+7

First is multiplication ir divisio, then addicion or sustration
* or /, then + or -

In [ ]:
# Example
30-5*4/2+7

27.0

Parentheses `( )` allows to modify operator precedence.
*texto en cursiva*

In [ ]:
## Example 
(30-5)*4/2+7

57.0

## 3.3. Integrer and Real Numbers
| Math | Code |
|------|------|
| Integers | Integers (int) |
| Real     | Floar point (float) |

The *funtion* `type()` let's us check

In [ ]:
type(26.5)

float

### Scientific notation
The "form" = `zz10^y` It is wriyte as xey

In [ ]:
# Example 
1.52e2

152.0

What happen is you to represenre `0.25`whith scientific notation?

In [ ]:
# Answer
0.025e1
2.5e-1 #R
25e-2

0.25

In [ ]:
# Example
1.5e5

150000.0

### Transformation

In [ ]:
# Example int to float
float(5)

5.0

In [ ]:
# Example flot to int
int(7.25)

7

## 3.4. Basic functions

### **Print**

In [ ]:
# Number Example
print(2022,8,11)

2022 8 11

In [ ]:
# Spring (alphabet) example
print('Valentina')

Valentina

In [ ]:
# More complicated string examples
print('First Name: Valentina','Last Name: Giraldo')
print('First Name: Valentina\tLast Name: Giraldo')
print('First Name: Valentina\nLast Name: Giraldo')

First Name: Valentina Last Name: Giraldo
First Name: Valentina	Last Name: Giraldo
First Name: Valentina
Last Name: Giraldo

In [ ]:
# More complicated string examples
print('First Name:','Valentina','Last Name:','Giraldo')

First Name: Valentina Last Name: Giraldo

In [ ]:
# More complicated number example
for i in range (0,10): print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# Combine string and numbers
print('My favorit number is', 21, 'because aja')

My favorit number is 21 because aja

### **Round**

In [ ]:
# A simple example
round(1.253,2)

1.25

In [ ]:
# Time to practice 
# Consider the number 7.2354
# Print every result for rounding from 3 to 0 positions
print('Round with',0, 'decimals', round(7.2354,0))
print('Round with',1, 'decimals', round(7.2354,1))
print('Round with',2, 'decimals', round(7.2354,2))
print('Round with',3, 'decimals', round(7.2354,3))

Round with 0 decimals 7.0
Round with 1 decimals 7.2
Round with 2 decimals 7.24
Round with 3 decimals 7.235

In [ ]:
# If we for loops
for i in range(0,4): print('Round with',i, 'decimals', round(7.2354,i))

Round with 0 decimals 7.0
Round with 1 decimals 7.2
Round with 2 decimals 7.24
Round with 3 decimals 7.235

In [ ]:
# Practice
# Print the firts 100 multiples of the number 2
print('This is the list of the 100th multiples of 2')
for i in range(1,101): print('position:' ,i, 'Multiples:', 2*i)

This is the list of the 100th multiples of 2
position: 1 Multiples: 2
position: 2 Multiples: 4
position: 3 Multiples: 6
position: 4 Multiples: 8
position: 5 Multiples: 10
position: 6 Multiples: 12
position: 7 Multiples: 14
position: 8 Multiples: 16
position: 9 Multiples: 18
position: 10 Multiples: 20
position: 11 Multiples: 22
position: 12 Multiples: 24
position: 13 Multiples: 26
position: 14 Multiples: 28
position: 15 Multiples: 30
position: 16 Multiples: 32
position: 17 Multiples: 34
position: 18 Multiples: 36
position: 19 Multiples: 38
position: 20 Multiples: 40
position: 21 Multiples: 42
position: 22 Multiples: 44
position: 23 Multiples: 46
position: 24 Multiples: 48
position: 25 Multiples: 50
position: 26 Multiples: 52
position: 27 Multiples: 54
position: 28 Multiples: 56
position: 29 Multiples: 58
position: 30 Multiples: 60
position: 31 Multiples: 62
position: 32 Multiples: 64
position: 33 Multiples: 66
position: 34 Multiples: 68
position: 35 Multiples: 70
position: 36 Multiples: 72
position: 37 Multiples: 74
position: 38 Multiples: 76
position: 39 Multiples: 78
position: 40 Multiples: 80
position: 41 Multiples: 82
position: 42 Multiples: 84
position: 43 Multiples: 86
position: 44 Multiples: 88
position: 45 Multiples: 90
position: 46 Multiples: 92
position: 47 Multiples: 94
position: 48 Multiples: 96
position: 49 Multiples: 98
position: 50 Multiples: 100
position: 51 Multiples: 102
position: 52 Multiples: 104
position: 53 Multiples: 106
position: 54 Multiples: 108
position: 55 Multiples: 110
position: 56 Multiples: 112
position: 57 Multiples: 114
position: 58 Multiples: 116
position: 59 Multiples: 118
position: 60 Multiples: 120
position: 61 Multiples: 122
position: 62 Multiples: 124
position: 63 Multiples: 126
position: 64 Multiples: 128
position: 65 Multiples: 130
position: 66 Multiples: 132
position: 67 Multiples: 134
position: 68 Multiples: 136
position: 69 Multiples: 138
position: 70 Multiples: 140
position: 71 Multiples: 142
position: 72 Multiples: 144
position: 73 Multiples: 146
position: 74 Multiples: 148
position: 75 Multiples: 150
position: 76 Multiples: 152
position: 77 Multiples: 154
position: 78 Multiples: 156
position: 79 Multiples: 158
position: 80 Multiples: 160
position: 81 Multiples: 162
position: 82 Multiples: 164
position: 83 Multiples: 166
position: 84 Multiples: 168
position: 85 Multiples: 170
position: 86 Multiples: 172
position: 87 Multiples: 174
position: 88 Multiples: 176
position: 89 Multiples: 178
position: 90 Multiples: 180
position: 91 Multiples: 182
position: 92 Multiples: 184
position: 93 Multiples: 186
position: 94 Multiples: 188
position: 95 Multiples: 190
position: 96 Multiples: 192
position: 97 Multiples: 194
position: 98 Multiples: 196
position: 99 Multiples: 198
position: 100 Multiples: 200

### **Absolute Value**

In [ ]:
# Example
abs(-25)

25