<a href="https://colab.research.google.com/github/ValentinaGiraldo0/Code_in_class/blob/main/01_Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction**

We are going to start **promming**

# **1. What is Python?**

It was 1991 and can do anything

#  **2. Why Python?**
It is free.
It is open source. 
It is easy to learn.

# **3. Getting Started**

## 3.1 Python as a calculator

In [ ]:
# Addition
2+2

4

In [ ]:
# Subtration
2-2

0

In [ ]:
# Multiplication
7*14

98

In [ ]:
# Exponental
5**3

125

In [ ]:
# Division
10/3

3.3333333333333335

In [ ]:
# Interger Division
10//3

3

## 3.2. Composite Operations 

*Operator precedence*
2*3+7

First is multiplication ir divisio, then addicion or sustration
* or /, then + or -

In [ ]:
# Example
30-5*4/2+7

27.0

Parentheses `( )` allows to modify operator precedence.
*texto en cursiva*

In [ ]:
## Example 
(30-5)*4/2+7

57.0

## 3.3. Integrer and Real Numbers
| Math | Code |
|------|------|
| Integers | Integers (int) |
| Real     | Floar point (float) |

The *funtion* `type()` let's us check

In [ ]:
type(26.5)

float

### Scientific notation
The "form" = `zz10^y` It is wriyte as xey

In [1]:
# Example 
1.52e2

152.0

What happen is you to represenre `0.25`whith scientific notation?

In [2]:
# Answer
0.025e1
2.5e-1 #R
25e-2

0.25

In [4]:
# Example
1.5e5

150000.0

### Transformation

In [5]:
# Example int to float
float(5)

5.0

In [6]:
# Example flot to int
int(7.25)

7

## 3.4. Basic functions

### **Print**

In [9]:
# Number Example
print(2022,8,11)

2022 8 11

In [12]:
# Spring (alphabet) example
print('Valentina')

Valentina

In [15]:
# More complicated string examples
print('First Name: Valentina','Last Name: Giraldo')
print('First Name: Valentina\tLast Name: Giraldo')
print('First Name: Valentina\nLast Name: Giraldo')

First Name: Valentina Last Name: Giraldo
First Name: Valentina	Last Name: Giraldo
First Name: Valentina
Last Name: Giraldo

In [16]:
# More complicated string examples
print('First Name:','Valentina','Last Name:','Giraldo')

First Name: Valentina Last Name: Giraldo

In [17]:
# More complicated number example
for i in range (0,10): print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
# Combine string and numbers
print('My favorit number is', 21, 'because aja')

My favorit number is 21 because aja

### **Round**

In [21]:
# A simple example
round(1.253,2)

1.25

In [51]:
# Time to practice 
# Consider the number 7.2354
# Print every result for rounding from 3 to 0 positions
print('Round with',0, 'decimals', round(7.2354,0))
print('Round with',1, 'decimals', round(7.2354,1))
print('Round with',2, 'decimals', round(7.2354,2))
print('Round with',3, 'decimals', round(7.2354,3))

Round with 0 decimals 7.0
Round with 1 decimals 7.2
Round with 2 decimals 7.24
Round with 3 decimals 7.235

In [55]:
# If we for loops
for i in range(0,4): print('Round with',i, 'decimals', round(7.2354,i))

Round with 0 decimals 7.0
Round with 1 decimals 7.2
Round with 2 decimals 7.24
Round with 3 decimals 7.235

In [79]:
# Practice
# Print the 100 multiples of number 2
for i in range(0,101): print('The',i,'Multiples of 2 is',i*2)

The 0 Multiples of 2 is 0
The 1 Multiples of 2 is 2
The 2 Multiples of 2 is 4
The 3 Multiples of 2 is 6
The 4 Multiples of 2 is 8
The 5 Multiples of 2 is 10
The 6 Multiples of 2 is 12
The 7 Multiples of 2 is 14
The 8 Multiples of 2 is 16
The 9 Multiples of 2 is 18
The 10 Multiples of 2 is 20
The 11 Multiples of 2 is 22
The 12 Multiples of 2 is 24
The 13 Multiples of 2 is 26
The 14 Multiples of 2 is 28
The 15 Multiples of 2 is 30
The 16 Multiples of 2 is 32
The 17 Multiples of 2 is 34
The 18 Multiples of 2 is 36
The 19 Multiples of 2 is 38
The 20 Multiples of 2 is 40
The 21 Multiples of 2 is 42
The 22 Multiples of 2 is 44
The 23 Multiples of 2 is 46
The 24 Multiples of 2 is 48
The 25 Multiples of 2 is 50
The 26 Multiples of 2 is 52
The 27 Multiples of 2 is 54
The 28 Multiples of 2 is 56
The 29 Multiples of 2 is 58
The 30 Multiples of 2 is 60
The 31 Multiples of 2 is 62
The 32 Multiples of 2 is 64
The 33 Multiples of 2 is 66
The 34 Multiples of 2 is 68
The 35 Multiples of 2 is 70
The 36 Multiples of 2 is 72
The 37 Multiples of 2 is 74
The 38 Multiples of 2 is 76
The 39 Multiples of 2 is 78
The 40 Multiples of 2 is 80
The 41 Multiples of 2 is 82
The 42 Multiples of 2 is 84
The 43 Multiples of 2 is 86
The 44 Multiples of 2 is 88
The 45 Multiples of 2 is 90
The 46 Multiples of 2 is 92
The 47 Multiples of 2 is 94
The 48 Multiples of 2 is 96
The 49 Multiples of 2 is 98
The 50 Multiples of 2 is 100
The 51 Multiples of 2 is 102
The 52 Multiples of 2 is 104
The 53 Multiples of 2 is 106
The 54 Multiples of 2 is 108
The 55 Multiples of 2 is 110
The 56 Multiples of 2 is 112
The 57 Multiples of 2 is 114
The 58 Multiples of 2 is 116
The 59 Multiples of 2 is 118
The 60 Multiples of 2 is 120
The 61 Multiples of 2 is 122
The 62 Multiples of 2 is 124
The 63 Multiples of 2 is 126
The 64 Multiples of 2 is 128
The 65 Multiples of 2 is 130
The 66 Multiples of 2 is 132
The 67 Multiples of 2 is 134
The 68 Multiples of 2 is 136
The 69 Multiples of 2 is 138
The 70 Multiples of 2 is 140
The 71 Multiples of 2 is 142
The 72 Multiples of 2 is 144
The 73 Multiples of 2 is 146
The 74 Multiples of 2 is 148
The 75 Multiples of 2 is 150
The 76 Multiples of 2 is 152
The 77 Multiples of 2 is 154
The 78 Multiples of 2 is 156
The 79 Multiples of 2 is 158
The 80 Multiples of 2 is 160
The 81 Multiples of 2 is 162
The 82 Multiples of 2 is 164
The 83 Multiples of 2 is 166
The 84 Multiples of 2 is 168
The 85 Multiples of 2 is 170
The 86 Multiples of 2 is 172
The 87 Multiples of 2 is 174
The 88 Multiples of 2 is 176
The 89 Multiples of 2 is 178
The 90 Multiples of 2 is 180
The 91 Multiples of 2 is 182
The 92 Multiples of 2 is 184
The 93 Multiples of 2 is 186
The 94 Multiples of 2 is 188
The 95 Multiples of 2 is 190
The 96 Multiples of 2 is 192
The 97 Multiples of 2 is 194
The 98 Multiples of 2 is 196
The 99 Multiples of 2 is 198
The 100 Multiples of 2 is 200