<a href="https://colab.research.google.com/github/ValentinaGiraldo0/Code_in_class/blob/main/04_DS_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Data Structure and Pandas**

`numpy` is for vector and matrices (`arrays`)

`pandas` is a library to work with databases (data with relations and conextion). In practical terms, `pandas` is the Excel of Python.

To make clear you can work with `numpy` and `pandas` at the same time.

In [1]:
import pandas as pd
import numpy as np

# **2. Pandas Series**

A series (in pandas) is a one-dimensional object.

## 2.1. Series cretion

In [7]:
# Empty series 

s_empty = pd.Series()
print(s_empty)

Series([], dtype: float64)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
# Creating a Series - Typing the value
## int values

s_int = pd.Series([1,2,3,4,5,6,7])
print(s_int)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [5]:
# Creating a Series - using random numbers
## float values

s_num = pd.Series(np.random.rand(8))
print(s_num)

0    0.991200
1    0.638214
2    0.807384
3    0.992787
4    0.667401
5    0.957917
6    0.755818
7    0.755054
dtype: float64

In [3]:
# Creating a series
# With str

s_str = pd.Series(['Valenina', 'Ashly','Cristian','Karen','Alice','Rodirgo'])
print(s_str)

0    Valenina
1       Ashly
2    Cristian
3       Karen
4       Alice
5     Rodirgo
dtype: object

In [4]:
# Creating a Series 

tmp = pd.Series([1, 0.2548, 'Python'])
print(tmp)

0         1
1    0.2548
2    Python
dtype: object

## 2.2. Indexing

In [8]:
# Check the index of a series
s_num.index

RangeIndex(start=0, stop=8, step=1)

In [13]:
# Create your own index

new_index = ['i','ii','iii','iv']
s_ran = pd.Series(np.random.rand(4), index = new_index)
print(s_ran)
s_ran.index

i      0.801590
ii     0.237169
iii    0.073429
iv     0.796170
dtype: float64

Index(['i', 'ii', 'iii', 'iv'], dtype='object')

## 2.3. Selecting and Slicing

Rember that series are one-dimensional objects, so we only need one *number* to identify an element.

In [16]:
# Selecting one value

print('The first element of s_num:',s_num[0])
print('The first element of s_ran:',s_ran[0])
print('The first element of s_ran:',s_ran['i'])

The first element of s_num: 0.9911997852050377
The first element of s_ran: 0.8015903837700445
The first element of s_ran: 0.8015903837700445

In [18]:
# Selecting more than one value

s_num[[5,7]] # This selects the 5th and 8th element

5    0.957917
7    0.755054
dtype: float64

In [20]:
# Selecting more than one value
s_ran[['i','iv']] # This selects the 1st and 4th element

i     0.80159
iv    0.79617
dtype: float64

In [24]:
# Selecting a secuence of values.

print(s_num[:3])

0    0.991200
1    0.638214
2    0.807384
dtype: float64

In [30]:
# Change a value

s_num[0] = 100 #Chaning the first element of s_num
print(s_num)

0    100.000000
1      0.638214
2      0.807384
3      0.992787
4      0.667401
5      0.957917
6      0.755818
7      0.755054
dtype: float64

##  2.4. Operations

In [36]:
# Basic operaions - element wise

# #Addition
s_num + 2

## Substraction
s_num - 3

## Multiplication
s_num * 4

## Division
s_num / 5

## Exponentiation
s_num ** 2

## Special
np.exp(s_num)
np.log(s_num)

0    4.605170
1   -0.449081
2   -0.213956
3   -0.007239
4   -0.404364
5   -0.042995
6   -0.279955
7   -0.280966
dtype: float64

# **3. Pandas Time - Series**

It is a very special object because is that the index are dates.

## 3.1. Indexing Pandas - TimeSeries

In [39]:
# Create a date range 
pd.date_range(start = '01/01/2022', end = '28/09/2022')

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10',
               ...
               '2022-09-19', '2022-09-20', '2022-09-21', '2022-09-22',
               '2022-09-23', '2022-09-24', '2022-09-25', '2022-09-26',
               '2022-09-27', '2022-09-28'],
              dtype='datetime64[ns]', length=271, freq='D')

In [40]:
# Create a date range 
pd.date_range(start = '01/01/2022', periods = 35)

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-01-30', '2022-01-31', '2022-02-01',
               '2022-02-02', '2022-02-03', '2022-02-04'],
              dtype='datetime64[ns]', freq='D')

In [43]:
# Create a date range 
pd.date_range(end = '28/09/2022', periods = 23, freq = 'D')

DatetimeIndex(['2020-10-31', '2020-11-30', '2020-12-31', '2021-01-31',
               '2021-02-28', '2021-03-31', '2021-04-30', '2021-05-31',
               '2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30',
               '2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31',
               '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31',
               '2022-06-30', '2022-07-31', '2022-08-31'],
              dtype='datetime64[ns]', freq='M')

If I need a different frecuency:
* H - Hourly
* M - End of the month
* MS - Start of the month
* XM - 2M
* XMS - 2MS
* Q - End of the quarter 
* QS - Start pf the quater 
* A or Y - End of the year
* AS or YS - Start of the year

In [44]:
pd.date_range(start = '28/09/2022', end = '29/09/2022', freq = 'H')

DatetimeIndex(['2022-09-28 00:00:00', '2022-09-28 01:00:00',
               '2022-09-28 02:00:00', '2022-09-28 03:00:00',
               '2022-09-28 04:00:00', '2022-09-28 05:00:00',
               '2022-09-28 06:00:00', '2022-09-28 07:00:00',
               '2022-09-28 08:00:00', '2022-09-28 09:00:00',
               '2022-09-28 10:00:00', '2022-09-28 11:00:00',
               '2022-09-28 12:00:00', '2022-09-28 13:00:00',
               '2022-09-28 14:00:00', '2022-09-28 15:00:00',
               '2022-09-28 16:00:00', '2022-09-28 17:00:00',
               '2022-09-28 18:00:00', '2022-09-28 19:00:00',
               '2022-09-28 20:00:00', '2022-09-28 21:00:00',
               '2022-09-28 22:00:00', '2022-09-28 23:00:00',
               '2022-09-29 00:00:00'],
              dtype='datetime64[ns]', freq='H')

In [45]:
pd.date_range(start = '28/09/2022', periods = 37, freq = 'H')

DatetimeIndex(['2022-09-28 00:00:00', '2022-09-28 01:00:00',
               '2022-09-28 02:00:00', '2022-09-28 03:00:00',
               '2022-09-28 04:00:00', '2022-09-28 05:00:00',
               '2022-09-28 06:00:00', '2022-09-28 07:00:00',
               '2022-09-28 08:00:00', '2022-09-28 09:00:00',
               '2022-09-28 10:00:00', '2022-09-28 11:00:00',
               '2022-09-28 12:00:00', '2022-09-28 13:00:00',
               '2022-09-28 14:00:00', '2022-09-28 15:00:00',
               '2022-09-28 16:00:00', '2022-09-28 17:00:00',
               '2022-09-28 18:00:00', '2022-09-28 19:00:00',
               '2022-09-28 20:00:00', '2022-09-28 21:00:00',
               '2022-09-28 22:00:00', '2022-09-28 23:00:00',
               '2022-09-29 00:00:00', '2022-09-29 01:00:00',
               '2022-09-29 02:00:00', '2022-09-29 03:00:00',
               '2022-09-29 04:00:00', '2022-09-29 05:00:00',
               '2022-09-29 06:00:00', '2022-09-29 07:00:00',
               '2022-09-29 08:00:00', '2022-09-29 09:00:00',
               '2022-09-29 10:00:00', '2022-09-29 11:00:00',
               '2022-09-29 12:00:00'],
              dtype='datetime64[ns]', freq='H')

In [46]:
pd.date_range(start = '28/09/2022', periods = 37, freq = 'A')

DatetimeIndex(['2022-12-31', '2023-12-31', '2024-12-31', '2025-12-31',
               '2026-12-31', '2027-12-31', '2028-12-31', '2029-12-31',
               '2030-12-31', '2031-12-31', '2032-12-31', '2033-12-31',
               '2034-12-31', '2035-12-31', '2036-12-31', '2037-12-31',
               '2038-12-31', '2039-12-31', '2040-12-31', '2041-12-31',
               '2042-12-31', '2043-12-31', '2044-12-31', '2045-12-31',
               '2046-12-31', '2047-12-31', '2048-12-31', '2049-12-31',
               '2050-12-31', '2051-12-31', '2052-12-31', '2053-12-31',
               '2054-12-31', '2055-12-31', '2056-12-31', '2057-12-31',
               '2058-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [48]:
pd.date_range(start = '28/09/2022', periods = 37, freq = 'MS')

DatetimeIndex(['2022-10-01', '2022-11-01', '2022-12-01', '2023-01-01',
               '2023-02-01', '2023-03-01', '2023-04-01', '2023-05-01',
               '2023-06-01', '2023-07-01', '2023-08-01', '2023-09-01',
               '2023-10-01', '2023-11-01', '2023-12-01', '2024-01-01',
               '2024-02-01', '2024-03-01', '2024-04-01', '2024-05-01',
               '2024-06-01', '2024-07-01', '2024-08-01', '2024-09-01',
               '2024-10-01', '2024-11-01', '2024-12-01', '2025-01-01',
               '2025-02-01', '2025-03-01', '2025-04-01', '2025-05-01',
               '2025-06-01', '2025-07-01', '2025-08-01', '2025-09-01',
               '2025-10-01'],
              dtype='datetime64[ns]', freq='MS')

## 3.2. Assign a time-series index

In [55]:
# Create a Series 
# How do I get append or assign dates?
my_dates = pd.date_range(start = '26/09/2022', end = '30/09/2022')

s_sales = pd.Series(np.random.randint(low = 100, high = 300, size = 5),
                    index = my_dates) #This is the data for sales
print(s_sales)

2022-09-26    282
2022-09-27    253
2022-09-28    229
2022-09-29    102
2022-09-30    140
Freq: D, dtype: int64